$sunrise: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
$light-grey: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
$bright-red: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
$zesty-orange: linear-gradient(to top, #f83600 0%, #f9d423 100%);
$strong-orange: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
$light-blue: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
$baby-blue: #a1c4fd;